<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Community Events Board</h1>
      <div class="event-list">
        <ul>
          {% for event in events %}
            <li>{{ event.event_name }} - {{ event.event_date }} - {{event.catagory}}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- set up a form with a post method and results action -->
      <form method = "post" action = "/results">
      <!-- need event_name and event_date using two text input (bonus- use date) -->
      <p>Tell me your event name!</p>
      <input type = "text" name = "event_name"/>
      <br>
      <p>Tell me your event date!</p>
      <input type = "text" name = "event_date"/>
      <br>
      <br>
      <p>Tell me the catagory of your event</p>
      <input type = "radio" name = "catagory" value = "school">school<br>
      <input type = "radio" name = "catagory" value = "personal">personal<br>
      <input type = "radio" name = "catagory" value = "dates"> dates<br>
      <input type = "radio" name = "catagory" value = "food">food<br>
      <!-- need submit button -->
      <input type = "submit" value = "submit"/>



      </div>

      </form>

      <p>Filter by Category!</p>
      <button><a href="/filter_school">School Filter</a></button>
      <button><a href="/filter_food">Food Filter</a></button>
      <button><a href="/filter_dates">Dates Filter</a></button>
      <button><a href="/filter_personal">Personal Filter</a></button>
      <br>
      <br>
      <br>
      <p> Delete all events on the Events Board
      <button><a href="/delete_all">Delete</a></button>




    </body>
</html>
